.App {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  background-color: #222831;
}

.display {
  position: absolute;
  left: 10%;
  bottom: 15%;
}
